*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

nav{
    background-color: #19183B;
    color: #F5AD18;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Lobster", sans-serif;
    font-style: normal;
    padding: 10px;
       display: flex;
}

.img > img{
    height: 12vh;
    margin-top: -11px;
}

nav > ul{
list-style-type: none;
flex-wrap: wrap;
font-size: 4vw;
margin-left: 12px;
margin-top: -3px;
display: flex;
}
nav > ul > li > img{
    height: 12vh;
}
.gameContainer{
display: flex;
justify-content: center;
margin-top: 50px;
}

h2{
    font-size: 4vw;
}

.imgbox > img{
  width: 0;
  transition: width  1s ease-in-out;

}

.gameContainer > .container{
display: grid;
grid-template-columns: repeat(3, 10vw);
grid-template-rows: repeat(3, 10vw);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 10px;
font-weight: 700;
position: relative;
color: red;

}

.box{
    border: 2px solid #4E56C0;
    box-shadow: 0 0 700px #450693;
    font-size: 6vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gameinfo{
    padding: 0 34px;
   font-family: "Playpen Sans Thai", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 27px;
}

.box:hover{
   background-color: rgb(217, 180, 252);
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}


#reset{
margin: 13px;
padding: 7px;
height: 33px;
width: 73px;
margin-top: 12px;
border-radius: 12px;
border: none;
cursor: pointer;
font-weight: 600;
background-color: #F5AD18;
}

.line{
    background-color: white;
   width: 0vw;
   height: 2px;
   position: absolute;
   transition: width 1s ease-in-out;
  
}

